<template name="MyDisciplines">
  <div class="bubble1 col-sm-3 ">
      	<!-- Блок для заголовка -->
          <div class="rectangle">МОИ ПРЕДМЕТЫ <i class="fa fa-book" aria-hidden="true"></i> </div>
          <div class="info"><!-- Основной контент -->

              <h5>Название пары  <i class="fa fa-user-o" aria-hidden="true"></i></h5>
               <h5>Время пары  <i class="fa fa-user-o" aria-hidden="true"></i></h5>

               <hr>


       	<div id="demo1" class="collapse">

               <hr>
           </div>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Подробнее</button>
          </div>
      </div>
</template>
