<template name="regadmin">
  <style>
  body{
    background-image: url(img/bck1.jpg);
  }

  </style>
    <div id="login-form">
      <h1>Регстрация администратора</h1>
        <fieldset>
            <form >
            <input id ="login-email" type="email" required value="Логин" onBlur="if(this.value=='')this.value='Логин'" onFocus="if(this.value=='Логин')this.value='' ">
            <input id="password" type ="password" required value="Пароль" onBlur="if(this.value=='')this.value='Пароль'" onFocus="if(this.value=='Пароль')this.value='' ">
            <input id="username" required value="Username" onBlur="if(this.value=='')this.value='Username'" onFocus="if(this.value=='Username')this.value='' ">
            <input id="login-button" type="button" value="ВОЙТИ">
            <input id="register-btn" type="button" value="ЗАРЕГИСТРИРОВАТЬСЯ">
            </form>
        </fieldset>
    </div>
</template>
