<template name="Notes">
  <div class="bubble1 col-sm-3 ">
        <!-- Блок для заголовка -->
          <div class="rectangle">ЗАМЕТКИ  <i class="fa fa-thumb-tack" aria-hidden="true"></i> </div>

          {{#each notes}}
          {{text}}
          <button id="delete">Удалить</button>
          <hr>
          {{/each}}
          <input type="text" id="note_Text">
          <button id="add">Добавить</button>
               <hr>
          <button id="removeNote">del</button>
  </div>
</template>
