<template name="Notes">
  <div class="bubble1 col-sm-3 ">
        <!-- Блок для заголовка -->
          <div class="rectangle">ЗАМЕТКИ  <i class="fa fa-thumb-tack" aria-hidden="true"></i> </div>
          <div class="info"><!-- Основной контент -->

              <h5>Названия заметки <i class="fa fa-user-o" aria-hidden="true"></i></h5>
              <h5>Напоминание <i class="fa fa-comments-o" aria-hidden="true"></i></h5>
              <h5>Дата <i class="fa fa-calendar-o" aria-hidden="true"></i></h5>
               <hr>
        <div id="demo3" class="collapse">
               <hr>
           </div>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">Подробнее</button>
          </div>
  </div>
</template>
