<template name="HomePage">
  <body>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
       <link rel="stylesheet" type="text/html" href="css/style.css">
    <title>InfSec</title>
    <style>
     .colortext {
       color: #6f4897;
     }
    </style>
    {{> NavBar}}

    <div class="container">
      {{#if isAdmin}}
        <button id="regStudent">Регистрация</button>
        <button id="remove_regStudent">X</button>
        <button id="userList">Список пользователей</button>
        <button id="remove_userList">X</button>
        <button id="se">Редактирование расписания</button>
      <button id="ser">X</button>
      {{/if}}
      <button id="add_MyDisciplines">Предметы</button>
      <button id="remove_MyDisciplines">X</button>
      <button id="add_MyGroup">Группа</button>
      <button id="remove_MyGroup">X</button>
      <button id="add_TimeTable">Расписние</button>
      <button id="remove_TimeTable">X</button>
      <div class="newCard"></div>
    </div>
      {{#each cards}}
        {{#if $eq cardname 'table'}}
        {{> TimeTable}}
        {{/if}}
        {{#if $eq cardname 'disciplines'}}
        {{> MyDisciplines}}
        {{/if}}
        {{#if $eq cardname 'registerStudent'}}
        {{>RegStudent}}
        {{/if}}
        {{#if $eq cardname 'listOfUsers'}}
        {{>UsersList}}
        {{/if}}
        {{#if $eq cardname 'ScheduleEdit'}}
        {{>ScheduleEdit}}
        {{/if}}
      {{/each}}
  </body>
</template>

<template name ="status">
    {{#if currentUser}}
    <p>Залогинен</p>
    {{else}}
    <p>Не залогинен</p>
    {{/if}}
</template>
