<template name="HomePage">
  <body>
    <div id="new"></div>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
       <link rel="stylesheet" type="text/html" href="css/style.css">
    <title>InfSec</title>
    <style>
     .colortext {
       color: #6f4897;
     }
    </style>

    {{>NavBar}}

    {{#if isAdmin}}
       <div>
      <form> <input name='position' type="radio" value ='onplace' id="here" checked>На месте
      <input name="position" type="radio" value='notonplace' id="nothere"> Не на месте</form>
     </div>
    {{/if}}
    

    <div class="container">
      {{#if isAdmin}}
        <button id="regStudent">Регистрация</button>
        <button id="userList">Список пользователей</button>
        <button id="se">Редактирование расписания</button>
        <button id="consEdit">Редактирование консультаций</button>
      {{/if}}
      <button id="add_MyDisciplines">Предметы</button>
      <button id="add_MyGroup">Группа</button>
      <button id="add_who">Преподаватели на месте</button>
      <button id="add_Choise">Расписание</button>
      <button id="addNote">Заметки</button>
      <button id="add_ConsultationList">Консультации</button>

      <div class="newCard"></div>
    </div>
      {{#each cards}}
      {{#if $eq cardname 'who'}}
        {{> whoishere}}
        <button id="remove_who">X</button>
      {{/if}}
        {{#if $eq cardname 'choise'}}
        {{> Choise}}
        <button id="remove_Choise">X</button>
        {{/if}}
        {{#if $eq cardname 'ConsultationEdit'}}
        {{>ConsultationEdit}}
        <button id="remove_consEdit">X</button>
        {{/if}}
        {{#if $eq cardname 'ConsultationList'}}
        {{>ConsultationList}}
        <button id="remove_ConsultationList">X</button>
        {{/if}}
        {{#if $eq cardname 'disciplines'}}
        {{> MyDisciplines}}
        <button id="remove_MyDisciplines">X</button>
        {{/if}}
        {{#if $eq cardname 'registerStudent'}}
        {{>RegStudent}}
         <button id="remove_regStudent">X</button>
        {{/if}}
        {{#if $eq cardname 'listOfUsers'}}
        {{>UsersList}}
        <button id="remove_userList">X</button>
        {{/if}}
        {{#if $eq cardname 'ScheduleEdit'}}
        {{>ScheduleEdit}}
        <button id="ser">X</button>
        {{/if}}
        {{#if $eq cardname 'MyGroup'}}
        {{> MyGroup}}
        <button id="remove_MyGroup">X</button>
        {{/if}}
        {{#if $eq cardname 'note'}}
        {{>Notes}}
        <button id="removeNote">X</button>
        {{/if}}
      {{/each}}
       {{# each cards_sch}}
         {{# if $eq day 'Пятница'}}
      {{> Friday}}
      <button id="sqd">X</button>
         {{/if}}
         {{# if $eq day 'Понедельник'}}
      {{> Monday}}
      <button id="sqd">X</button>
         {{/if}}
         {{# if $eq day 'Вторник'}}
      {{> Tuesday}}
      <button id="sqd">X</button>
         {{/if}}
         {{# if $eq day 'Среда'}}
      {{> Wednesday}}
      <button id="sqd">X</button>
         {{/if}}
         {{# if $eq day 'Четверг'}}
      {{> Thursday}}
      <button id="sqd">X</button>
         {{/if}}
         {{# if $eq day 'Суббота'}}
      {{> Saturday}}
      <button id="sqd">X</button>
         {{/if}}
      {{/each}}
  </body>
</template>

<template name ="status">
    {{#if currentUser}}
    <p>Залогинен</p>
    {{else}}
    <p>Не залогинен</p>
    {{/if}}
</template>
