<template name="HomePage">
  <body>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
       <link rel="stylesheet" type="text/html" href="css/style.css">
    <title>InfSec</title>
    <style>
     .colortext {
       color: #6f4897;
     }
    </style>
    {{> NavBar}}
    {{#each cards}}
      {{#if $eq cardname 'table'}}
      {{> TimeTable}}
      {{/if}}
      {{#if $eq cardname 'disciplines'}}
      {{> MyDisciplines}}
      {{/if}}
    {{/each}}
    <button id="add_MyDisciplines">Предметы</button>
    <button id="remove_MyDisciplines">Удалить предметы</button>
    <button id="add_MyGroup">Группа</button>
    <button id="remove_MyGroup">Удалить Группа</button>
    <button id="add_TimeTable">Расписние</button>    
    <button id="remove_TimeTable">Удалить расписние</button>
    <div class="newCard"></div>
  </body>
</template>

<template name ="status">
    {{#if currentUser}}
    <p>Залогинен</p>
    {{else}}
    <p>Не залогинен</p>
    {{/if}}
</template>
