<template name="Courses">
  <div class="bubble1 col-sm-3 ">
    <!-- Блок для заголовка -->
      <div class="rectangle">КУРСЫ<i class="fa fa-thumb-tack" aria-hidden="true"></i> </div>
      <div class="info"><!-- Основной контент -->

          <h5>Мои курсы<i class="fa fa-user-o" aria-hidden="true"></i></h5>
          <h5>Список групп<i class="fa fa-comments-o" aria-hidden="true"></i></h5>
           <hr>
    <div id="demo6" class="collapse">
           <hr>
       </div>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo6">Подробнее</button>
      </div>
  </div>

</template>
