<template name="Monday">
  <div class="bubble1 col-sm-3 ">
  <!-- Блок для заголовка -->
    <div class="rectangle">РАСПИСАНИЕ  <i class="fa fa-table" aria-hidden="true"></i> </div>
    <div class="info"><!-- Основной контент -->
    {{#each schedule_data}}
      {{#each lessons}}
        {{#each first}}
        <li>{{lesson}} {{time}}</li>
        {{/each}}
        {{#each second}}
        <li>{{lesson}}{{time}}</li>
        {{/each}}
        {{#each third}}
        <li>{{lesson}}{{time}}</li>
        {{/each}}
      {{/each}}
    {{/each}}
        <div id="less">
          <p id="f"></p>
          <p id="s"></p>
          <p id="t"></p>
        </div>
         <hr>
  <div id="demo4" class="collapse">
         <hr>
     </div>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4">Подробнее</button>
    </div>
</div>
</template>
