<template name="TimeTable">
  <div class="clearfix"></div>
  <div class="bubble1 col-sm-3 ">
  <!-- Блок для заголовка -->
    <div class="rectangle">РАСПИСАНИЕ  <i class="fa fa-table" aria-hidden="true"></i> </div>
    <div class="info"><!-- Основной контент -->

        <h5>Названия пары<i class="fa fa-user-o" aria-hidden="true"></i></h5>
        <h5>ФИО препод.<i class="fa fa-comments-o" aria-hidden="true"></i></h5>
        <h5>телефон препод. <i class="fa fa-calendar-o" aria-hidden="true"></i></h5>
         <hr>
  <div id="demo4" class="collapse">
         <hr>
     </div>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4">Подробнее</button>
    </div>
</div>
</template>
