<template name="TimeTable">
  <div class="clearfix"></div>
  <div class="bubble1 col-sm-3 ">
  <!-- Блок для заголовка -->
    <div class="rectangle">РАСПИСАНИЕ  <i class="fa fa-table" aria-hidden="true"></i> </div>
    <div class="info"><!-- Основной контент -->
  <button class="today">Сегодня</button>
  <button class="monday">Понедельник</button>
  <button class="tuesday">Вторник</button>
  <button class="wednesday">Среда</button>
  <button class="thursday">Четверг</button>
  <button class="friday">Пятница</button>
  <button class="saturday">Суббота</button>
    {{#each schedule_data}}
      {{#each lessons}}
        {{#each first}}
        <li>{{lesson}} {{time}}</li>
        {{/each}}
        {{#each second}}
        <li>{{lesson}}{{time}}</li>
        {{/each}}
        {{#each third}}
        <li>{{lesson}}{{time}}</li>
        {{/each}}
      {{/each}}
    {{/each}}
        
         <hr>
  <div id="demo4" class="collapse">
         <hr>
     </div>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4">Подробнее</button>
    </div>
</div>
</template>
